

/*botones*/
@use "variables" as var;
@use "mixins" as mixins;

.boton_chico {
    @include mixins.boton-comun;
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 0.8rem;

    .a_boton_chico {
        @include mixins.a-boton-comun;
        font-size: 1rem;
    }
}

.boton_grande {
    @include mixins.boton-comun;
    margin-top: 3rem;
    padding: 1.8rem;
    border-radius: 2rem;

    .a_boton_grande {
        @include mixins.a-boton-comun;
        font-size: 2rem;
    }
}


.boton_form {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.8rem;
    @include mixins.boton-comun;
    @include mixins.a-boton-comun;
}

.borde_redondeado {
    border-radius: 1rem;
}