*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    }

body{
    font-family: 'Roboto', sans-serif;
    margin-top: 150px;
}

.contenedor_header{
    width: 100%;
    height: 150px;
    font-size: 1.5rem;
    background-color: white;
    padding: 2rem;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.nav_item{
    list-style: none;
    display: inline-block;
}

li a{ 
    text-decoration: none;
    font-weight: 700;
    color: #1B1B1B;
    padding-inline-end: 1rem;
}

/* portada con cta del index */

.container_cta{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 150px;
    width: 100%;
    height: 85vh;
    background-image: url(https://blog.urbanizainteractiva.com/hubfs/Marketing%20digital.jpg);
    background-repeat: no-repeat;
}

.titulo_imagen{
    font-size: 5rem;
    color: white;
    text-shadow: 0.2px 0.2rem rgb(63, 62, 62);
    padding-top: 3rem; 
}

.subtitulo_imagen{
    font-size: 3rem;
    color: white;
    text-shadow: 0.2px 0.2rem rgb(63, 62, 62);
    padding-top: 2.5rem; 
}

.boton_grande{
    margin-top: 3rem;
    padding: 1.8rem;
    background-color: #FF9459;
    text-align: center center;
    border-radius: 20px;
}

.a_boton_grande{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
} 

.borde_redondeado{
    border-radius: 20px;
}
/* servicios en index*/


.titulo_seccion{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 600;
    color: #1B1B1B;
    
}

.serv_contenedor_padre{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.serv_contenedor_hijo{
    padding-inline: 2rem;
}

.titulo_hijo{
    margin-block: 1rem;
    
}



/* texto con foto a la derecha  y recuadro de color de fondo */


 .seccion_div_container{
    display: flex;
    background-color: #f2f2f2;
    margin-top: 5rem;
    padding: 5rem;
    width: 100vw;
    align-items: center center;
}

.seccion_texto_cont{
    width: 40vw;
}

.seccion_img_cont{
    width: 25vw;
}

.seccion_h{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 600;
    color: #1B1B1B;
    
}

.seccion_p{
    text-align: left;
    padding: 1rem;
    color: #1B1B1B;
}
.boton_chico{
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 1rem;
    background-color: #FF9459;
    text-align: center center;
    border-radius: 10px;
}

.a_boton_chico{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}  


footer{
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista_contacto{
    list-style: none;
    text-align: center;
}

.redes_logo{
    height: 50px;
    margin: 50px 20px;
}
.redes{
    list-style: none;
    display: inline-block;
}

.titulo_footer{
    text-align: center;
    font-weight: 700;
    margin: 1rem;
}


/* seccion  servicios */

.top_servicios{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 150px;
    width: 100%;
    height: 50vh;
    background-image: url(../img/seccion-servicios.png);
    background-repeat: no-repeat;
}

/* .principal_servicios{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 150px;
    width: 100%;
    height: 70vh;
    background-image: url(https://symphoniclatino.com/wp-content/uploads/2020/05/marketingdiagnostic.jpg);
    background-repeat: no-repeat;
} */
